.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
**/.obsidian/
.trash/
**/.trash/
.quartz-cache
.automation/
.local-node/
logs/
private/
.replit
replit.nix
.quartz/
quartz/cli/tui/dist/
